<a href="https://colab.research.google.com/github/jgonzet/7506-Org.-de-Datos/blob/master/TP1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [135]:
import pandas as pd

In [136]:
# ejercicio 1
datos = pd.read_csv("/content/drive/My Drive/Datos/Org. de Datos/Entrenamieto_ECI_2020.csv")#, encoding='latin-1')

In [ ]:
# ejercicio 2
datos_emea = datos.loc[datos.Region.str.contains('EMEA')]
top10_datos_emea = datos_emea.nlargest(10,'Total_Amount')[['ID','Territory','Delivery_Quarter','Delivery_Year']]

In [141]:
# ejercicio 3: limpiar los datos que no son numericos
alemanes = datos.loc[datos.Territory.str.contains('Germany')]
pd.to_numeric(alemanes['Price'],errors='coerce').dropna().mean()

0.26467889908256864